# Hugo stuff
.hugo_build.lock
**/resources/_gen/
public

# Apple stuff
.DS_Store

# Intellij stuff
/.idea/.gitignore
/.idea/bmarkisreal.estate.iml
/go.sum
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
